appsettings.Development.json
appsettings.Development.backup.json
appsettings.Production.json
appsettings.Testing.json
wwwroot/uploads/images/*
wwwroot/css/appearance.css
wwwroot/css/appearance.backup.css