@using Talpa_10_WebApp.ViewModels
@model IEnumerable<Talpa_10_WebApp.ViewModels.OutingViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="outer-container">
    @foreach (OutingViewModel outing in Model)
    {
        <a class="card-link" style="text-decoration: none; display: flex; justify-content: center; align-items: center; margin: 10px;" href="@Url.Action("Details", "Outing", new { id = outing.Id })" class="card-link">
            <div class="card" style="background-image: url('https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg');">
                <div class="card-body">
                    <h1 class="card-title">
                        @outing.Name
                    </h1>
                </div>
            </div>
        </a>
    }
</div>