@using Talpa_10_WebApp.ViewModels
@using Talpa_10_WebApp.Translations
@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<Talpa_10_WebApp.ViewModels.OutingViewModel>
@inject IHtmlLocalizer<Shared> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Index"];
    ViewData["DisableMainContainer"] = "True";
}

<div class="outer-container">
    @foreach (OutingViewModel outing in Model)
    {
		<a class="card-link" style="text-decoration: none; display: flex; justify-content: center; align-items: center; margin: 10px;" href="@Url.Action("VoteSuggestion", "Outing", new { id = outing.Id })">
            <div class="card" style="border-radius: 15px; background-image: url('https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg');">
                <div class="card-body">
                    <h1 class="card-title">
                        @outing.Name
                    </h1>
                </div>
            </div>
        </a>
    }
</div>