@using Talpa_10_WebApp.ViewModels
@using Microsoft.AspNetCore.Mvc.Localization
@using Talpa_10_WebApp.Translations
@model Talpa_10_WebApp.RequestModels.VoteSuggestionRequest
@inject IHtmlLocalizer<Shared> SharedLocalizer

@{
	Layout = "_Layout";
	ViewData["Title"] = SharedLocalizer["Detail"];
}

<form asp-action="VoteDate" asp-route-id="@Model.OutingId">
	<div class="outer-container">
        @foreach (SuggestionViewModel suggestion in Model.Suggestions ?? new List<SuggestionViewModel>())
        {
            <label class="card-frame" style="text-decoration: none; display: flex; justify-content: center; align-items: center; margin: 10px;">
                <input type="radio" asp-for="SuggestionId" class="suggestionRadio" style="display: none" value="@suggestion.Id">
                <div class="card" style="border-radius: 15px; background-color: dimgray;">
                    <div class="card-body">
                        <h1 class="card-title">
                            @suggestion.Name
                        </h1>
                    </div>
                </div>
            </label>
        }
    </div>
	<div class="form-group mt-3">
		<input type="submit" value="@SharedLocalizer["Vote"]" class="btn btn-primary" />
	</div>
</form>

<script>
	const radios = document.querySelectorAll('.suggestionRadio');
	const cards = document.querySelectorAll('.card');

	radios.forEach((radio, radioIndex) => {
		radio.addEventListener('change', function () {
			cards.forEach((card) => {
				card.style.backgroundColor = 'dimgray';
			});

			if (this.checked) {
				cards[radioIndex].style.backgroundColor = '#5236AB';
			}
		});
	});
</script>

