@using Talpa_10_WebApp.Translations
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Shared> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Access Denied"];
}

<header>
    <h1 class="text-danger">@SharedLocalizer["Access Denied"]</h1>
    <p class="text-danger">@SharedLocalizer["You do not have access to this resource"]</p>
</header>