@using Talpa_10_WebApp.Translations
@using Microsoft.Extensions.Localization
@model Talpa_10_WebApp.ViewModels.TeamViewModel
@inject IStringLocalizer<Shared> StringLocalizer

@{
    Shared SharedLocalizer = new(StringLocalizer);

    Layout = "_Layout";
    ViewData["Title"] = SharedLocalizer.Get("Create");
}

<h4>@SharedLocalizer.Get("Team")</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedUserIds" class="control-label">@SharedLocalizer.Get("Users")</label>
                <select asp-for="SelectedUserIds" asp-items="Model.UserOptions" multiple="multiple" class="form-control js-tokenizer"></select>
                <span asp-validation-for="SelectedUserIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer.Get("Create")" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@SharedLocalizer.Get("BackToList")</a>
</div>