:root {
    --backgroundcolor: #f8f8f8;
    --white: #ffffff;
    --main: #d92a3b;
    --main-darker: color-mix(in srgb,var(--main),#000 15%);
    --secondary: #d2d2d2;
    --secondary-darker: color-mix(in srgb,var(--secondary),#000 15%);
}