:root {
    --backgroundcolor: #ffffff;
    --white: #ffffff;
    --main: #82ff4d;
    --main-darker: color-mix(in srgb,var(--main),#000 15%);
    --secondary: #0062ff;
    --secondary-darker: color-mix(in srgb,var(--secondary),#000 15%);
}