:root {
    --title-container: #ededed;
    --white: #ffffff;
    --main: #949494;
    --main-darker: color-mix(in srgb,var(--main),#000 15%);
    --secondary: #aa42ff;
    --secondary-darker: color-mix(in srgb,var(--secondary),#000 15%);
}