@using Microsoft.Extensions.Localization
@using Talpa_10_WebApp.Translations
@inject IStringLocalizer<Shared> StringLocalizer

@{
    Shared SharedLocalizer = new(StringLocalizer);
}

@{
    ViewData["Title"] = SharedLocalizer.Get("Homepage");
}

<div class="text-center">
    <h1 class="display-4">@SharedLocalizer.Get("Welcome")</h1>
</div>