@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Talpa_10_WebApp.Translations
@inject IViewLocalizer Localizer
@inject IStringLocalizer<Shared> StringLocalizer

@{
    Shared SharedLocalizer = new(StringLocalizer);
}

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    <h1 class="display-4">@SharedLocalizer.Get("Frog")</h1>
    <h1 class="display-4">@Localizer["Welcome"]</h1>
</div>