@using Talpa_10_WebApp.Translations
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Shared> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Homepage"];
}

<div class="text-center">
    <h1 class="display-4">@SharedLocalizer["Welcome"]</h1>
</div>